html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: Arial;
}
td {
    vertical-align:top;
}
fieldset {
    border: 1px solid white;
    padding:3px;
    margin:4px;
}
.state  {
    margin-left:5px;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.transparent {
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

body {
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.record {
    width: 100%;
    border-left: 2px solid white;
    font-size: 13px;
    word-break: break-all;
    margin-top: 10px;
}

.record .details b {
    color: #005500;
}

.record .details {
    margin-left: 10px;
}

h2 {
    background-color: #006600;
    border-bottom: 2px solid #004a00;
    padding: 4px;
    color: white;
    font-size: 14px;
    margin-bottom: 4px;
}

select {
    display: block;
    margin-bottom: 4px;
}

.navigation b {
    display: block;
    padding:5px;
    font-size:14px;
    background-color:#005500;
    margin-bottom:3px;
}

.navigation {
    background-color: #007700;
    color: white;
}

.page {
    float: right
}
.page a  {
    color: #555555;
}

form {
    padding: 4px;
    color: white;
    background-color: #007700;
    margin-bottom: 10px;
    border-bottom:3px solid #005500;
}

#refinementsDiv {
    margin-bottom: 10px;
}
.keyValue {
    margin-top:3px;
}
.key, #refinementsDiv b {
    color: #005500;
    font-weight: bold;
}

form a {
    color: white;
}

#famous {
    margin-left: 20px;
    margin-bottom: 20px;
}

label {
    cursor: pointer;
}

#refinementsDiv label {
    margin-right: 15px;
}

.navigationMetadataTitle {
    color:#009900;
    font-size: 10px;
}

.navigationMetadata,{
    color:#009900;
    font-size: 9px;
}
.navigationMetadata b {
   display: inline-block;
    color:#00CC00;
    font-size: 9px;
    margin:0;
    margin-left:5px;
    padding:0;
}

.sitewideMetadata {
    margin-left: 15px;
    font-size: 12px;
}

.deleteCheckbox:hover {
    background-color: #229922;
}

.deleteCheckbox {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: #007700;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.refinementsHolder {
    max-height: 200px;
    overflow: auto;
    line-height: 12px;
    font-size: 11px;
}

.navLink {
    margin-top:10px;
}
.navLink:nth-child(1) {
  margin-top:0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.navigation .moreLink a{
  color:black;
}
.navLink a:hover {
    text-decoration: underline;
}

.navigation a {
    display: inline-block;
    font-size: 11px;
    margin-left: 4px;
    text-decoration: none;
    color: white;
}

#raw pre {
    white-space:normal;
    font-family:courier;
    font-size:10px;
    color:white;
    padding:4px;
    word-break: break-all;
}

#commandCenterLink {
    margin: 5px;
    margin-right: 10px;
    float: right;
    margin-left: 20px;
    background-image: url(../images/externalLink.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 19px;

}

.largeResponse {
    background-color: red;
    padding-left: 4px;
    padding-right: 4px;
}

.mediumResponse {
    background-color: orange;
    padding-left: 4px;
    padding-right: 4px;
}

.smallResponse {
    color: #99FF99;
}

#cookieForm {
    font-size: 12px;
    background-color: #999999;
    border-bottom: 3px solid #555555;
}
#cookieForm input {
    margin-top:3px;
}

.highlight {
    background-color: #FFFFCC;
    border-left: 2px solid yellow;
}

.count {
font-size: 9px;
color:#00FF00;
}

#q {
    width:400px;
    height: 20px;
    font-size: 20px;
}

#recordAndPaging {
margin-bottom: 10px;
padding-bottom:3px;
border-bottom: 3px solid #999999;
}

.id {
    font-size:12px;
}
.zone {
    word-break: break-all;
    max-width:270px;
    max-height:270px;
    overflow:auto;
    font-size:10px;
    float:left;
    margin:5px;
    padding:5px;
}
.zone .zoneName a{
    color:white;
}
.zone .zoneName {
    color:white;
    font-size:12px;
    margin-right:-5px;
    margin-top:-5px;
    margin-left:-5px;
    margin-bottom:3px;
    padding:4px;
    display: block;
    background-color: #007700;
}
.RecordZone {
    background-color: #99FF99;
}
.ContentZone {
    background-color: #55BB55;
}
.RichContentZone {
    overflow: hidden;
    max-width:10000px;
    max-height:10000px;
    background-color: #99FF99;
}
#ruleFired {
  border: 2px solid #007700;
  border-bottom: 4px solid #005500;
  margin-bottom:5px;
}
#ruleTitle {
    background-color: #007700;
    padding:5px;
    color:white;
}
#ruleTitle a {
    color: white;
    font-size:12px;
}
legend {
    padding-left: 4px;
    padding-right: 4px;
    color: black;
}
fieldset {
    border: 1px solid white;
}

.jsonview ul {
    margin: 0 0 0 1em;
}

.jsonResponse .jsonview .prop {
    color: black;
}
.jsonResponse .jsonview .num, .jsonResponse .jsonview .string, .jsonResponse .jsonview .bool, .jsonResponse .jsonview a{
    color: white;
}

.ui-helper-hidden-accessible {
    display:none;
}
.ui-autocomplete {
    background-color:white;
    display: inline-block;
    font-size:14px;
    padding:2px;
}
.ui-state-focus {
    background:#999999;
}
.columnSpecifics a {
    color:white;
}
.columnSpecifics {
    background-color:#999999;
    padding:3px;
    font-size:12px;
    color:white;
    border-bottom: 3px solid #555555;
}
.error {
    color:yellow;
    font-weight:bold;
}
.warnings {
    color:yellow;
}
.columnControls a {
    margin-left:10px;
}
.columnControls {
    float:right;
}
.customerToolbar span {
    color:black;
    margin-left:10px;
}
.customerToolbar {
    float:right;
    margin-right:10px;
}
.attribute {
    font-size: 9px;
    color:#009900;
}
.otherColumns {
  float:right;
  font-size:10px;
  color: #00dd00;
}

.specialNav {
  display: block;
  margin:0;
}
.specialNav a{
  background-color: #005500;
  margin:0;
  text-decoration:none;
  padding:5px;
  display:inline-block;
  float:right;
}