html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: Verdana, "Helvetica Neue",Arial, sans-serif;
}

body {
    margin: 2px;
}

a {
color: #0084BF;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

input[type="text"], textarea,select {
border: 1px solid #DADADA;
    color: #888;
    /* height: 30px; */
    margin-bottom: 1px;
    /* margin-right: 6px; */
    /* margin-top: 2px; */
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    /* width: 70%; */
    /* font-size: 12px; */
    /* line-height: 15px; */
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
      -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    border-radius: 5px;
}

.transparent {
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

body {
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.keyValue {
    padding-bottom: 3px;
}

.record {
    width: 400px;
    border: 1px solid #CCCCCC;
    font-size: 13px;
    /* padding: 2px; */
    margin: 5px;
}

.record .details b {
    color: #005500;
}

.record .details {
    margin-left: 20px;
} 

h2 {
    background-color: #315231;
    padding: 4px;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    background-color: #EEEEEE;
    padding: 4px;
    color: black;
    font-size: 16px;
    
    margin-bottom: 10px;
font-weight: bolder;
}

h3 strong {
font-weight: normal;
}

select {
    display: block;
    margin-bottom: 4px;
}

.navigation b {
    display: block;
    margin-bottom: 10px;
}

#nav-categoryl1 > div:nth-child(even) {
color:red;
}

.navigation {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #315231;
    background: -moz-linear-gradient(left, #bfbfbf, #ffffff);
    background: -webkit-linear-gradient(left, #bfbfbf, #ffffff);
    background: -o-linear-gradient(left, #bfbfbf, #ffffff);
    background: -ms-linear-gradient(left, #bfbfbf, #ffffff);
    background: linear-gradient(to left, #bfbfbf, #FFFFFF);
    color: black;
}


.page a {
    color: #907D7D;
    float: right;
}

form {
    padding: 4px;
    color: white;
    background-color: #315231;
    margin-bottom: 10px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    
}

#refinementsDiv {
    margin-bottom: 10px;
}

.key, #refinementsDiv b {
    color: #005500;
    font-weight: bold;
}

form a {
    color: white;
}

#famous {
    margin-left: 20px;
    margin-bottom: 20px;
}

label {
    cursor: pointer;
}

#refinementsDiv label {
    margin-right: 15px;
}

.navigationMetadataTitle {
    margin-left: 5px;
    font-size: 12px;
}

.navigationMetadata {
    margin-left: 15px;
    font-size: 10px;
}

.sitewideMetadata {
    margin-left: 15px;
    font-size: 12px;
}

.deleteCheckbox:hover {
    background-color: #229922;
}

.deleteCheckbox {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: #007700;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navLink {
     max-height: 250px;
     overflow: auto;
     border-top: 1px solid #005500;
     line-height: 12px;
     font-size: 11px;
     display: block;
     padding: 14px 12px;
     /* font-family: Helvetica, Arial, sans-serif; */
     font-size: 16px;
     font-weight: bold;
     text-decoration: none;
    color: black;
}

.navLink b {
    font-weight: bolder;
    font-size: 12px;
}

.navLink a:hover {
    text-decoration: underline;
}

.navigation a {
    display: inline-block;
    font-size: 11px;
    margin-left: 4px;
    text-decoration: none;
    font-weight: normal;
    color: black;
}

#raw pre {
    margin-bottom: 10px;
}

#raw {
    background-color: #EEEEEE;
    padding: 3px;
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: 10px;
    font-size: 12px;
}

#commandCenterLink {
    margin: 5px;
    margin-right: 10px;
    float: right;
    margin-left: 20px;
    background-image: url(../images/externalLink.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 19px;

}

.largeResponse {
    background-color: #EFB0B0;
    padding-left: 4px;
    padding-right: 4px;
}

.mediumResponse {
    background-color: orange;
    padding-left: 4px;
    padding-right: 4px;
}

.smallResponse {
    color: green;
}

#cookieForm {
    font-size: 12px;
}

.highlight {
	background: rgba(251, 255, 0, 0.25);

}

.resultMatchStrategy {
	position:relative;
}

.leftMatchStrategy {
	position:absolute;
	left:0;
	top:0;
	font-size:12px;
}

.rightMatchStrategy {
	position:absolute;
	right:0;
	top:0;
	font-size:12px;
}

.resultBiasAndCount {
	position:relative;
}

.totalRecordCountTitle, .totalRecordCount {
display: inline-block;
    top: 0;
    font-size: 12px;
    font-weight: bold;
}
.totalRecordCountTitle {

    font-weight: normal;
    display: inline-block;
    left: 10px;
}

.resultSortOrder {
	position:relative;
}

.rightSortOrder {
	position:absolute;
	right:0;
	top:0;
	font-size:12px;
}

